%body
  %header
    = link_to 'sample app', root_path, id: 'logo'
    %nav
      %ul
        %li= link_to 'Home', root_path
        %li= link_to 'Help', help_path
        - if logged_in?
          %li= link_to 'Users', '#'
          %li= link_to 'Profile', current_user
          %li= link_to 'Settings', '#'
          %li= link_to 'Log out', logout_path
        - else
          %li= link_to 'Log in', login_path
